<h2>Usuarios</h2>

<ul>
    {{#each usuarios}}
        <li>{{nombre}} | correo electrónico: <strong>{{email}}</strong></li>
    {{/each}}
</ul>



<a href="/">Home Page</a>

<script src="/js/usuarios.js"></script>